@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(244, 242, 242);
}

.border{
    border: 1px solid black;
}

.display{
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    width: 100vw;
    height: 4rem;
    background-color: white;
    gap: 30px;

}

.logo{
    height: 100%;
    min-width: 15%;
}

.search{
    height: 70%;
    width: 34%;
    border-radius: 0.3rem;
    background-color: rgb(228, 228, 240);
}
.search-input{
    height: 100%;
    width: 90%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.1rem;
    padding-left: 5px;
}
.login{
    height: 70%;
    min-width: 8%;
    border-radius: 0.3rem;
    gap: 10px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    transition: all 0.2s;

}
.login:hover{
    background-color:blue;
    color: white;
    
}
.cart{
    height: 70%;
    min-width: 8%;
    border-radius: 0.3rem;
    gap: 10px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;

}

.become-a-seller{
    height: 70%;
    min-width: 15%;
    border-radius: 0.3rem;
    gap: 10px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}
.more{
    height: 70%;
    width: 3%;
}
.more:hover{
    border: 1px solid gray;
    background-color: rgb(230, 224, 224);
    border-radius: 0.3rem;
}
.productfirst-parent{
    width: 100vw;
    height: 165px;
}
.productfirst{
    width: 98vw;
    height: 150px;
    background-color: white;
    border-radius: 0.1rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    justify-content: space-evenly;
    padding-left: 1rem;

}
.products{

    height: 90%;
    width: 10%;
    font-family: "Palanquin", sans-serif;

}

.crosules-parent{
    width: 100vw;
    height: 180px;

}

.crosules{
    width: 98vw;
    height: 170px;
    background-color: white;
    border-radius: 0.1rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    justify-content: space-evenly;
}

.Elecrtronics-parent{
    width: 100vw;
    height: 330px;
    margin-top: 0.3rem;
    
}

.Electronics{
    width: 98vw;
    height: 330px;
    background-color: white;
    border-radius: 0.1rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.Electronics-card{
    height: 250px;
    width: 400px;
    border: 1px solid rgb(219, 212, 212);
    border-radius: 0.2rem;
    margin-left: 1rem;
    /* padding-left: 5rem; */
    /* padding-right: 5rem; */
    
}
.Electronics-img{
   
    background-size: contain;
    background-position: center;
    /* background-image: url(); */
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    padding: 5px;
    transform: scale(0.8);

    transition: all 0.3s;
}

.Electronics-img:hover{
    transform: scale(0.9);
}

.Electronics-card-parent{
    height: 90%;
    width: 100%;
    justify-content: space-around;



}


